.order
	padding-top: 70px
	&__main-title
		margin-bottom: 58px
		font-size: 34px
		text-align: center
		+medium
	&__wrapper
		display: flex
	&__item
		display: flex
		flex-direction: column
		flex-basis: 100%
	&__title
		font-size: 34px
		color: $text
		+light
label
	font-size: 16px
	+light
