@font-face {
  font-family: 'San Francisco';
  src: url("../fonts/SFUIText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco Medium';
  src: url("../fonts/SFUIText-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco Light';
  src: url("../fonts/SFUIText-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
}

a {
  color: inherit;
}

.button {
  padding: 18px 23px;
  border: 1px solid #ffffff;
  background-color: #0071E3;
  font-size: 20px;
  border-radius: 30px;
  color: #ffffff;
  font-family: 'San Francisco Light';
}

.button:hover {
  border: 1px solid #0071E3;
  background-color: transparent;
  color: #0071E3;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.header {
  padding: 30px 0px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__link {
  padding: 0 25px;
  font-family: 'San Francisco';
  font-size: 20px;
}

.navbar__link:last-child {
  margin-right: 55px;
}

.navbar__link:nth-child(2) {
  border-right: 1px solid #C9C9C9;
  border-left: 1px solid #C9C9C9;
}

.navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  padding: 100px 0;
}

.hero {
  padding-bottom: 70px;
  text-align: center;
  font-family: 'San Francisco Medium';
}

.hero__subtitle {
  margin-bottom: 24px;
  font-size: 20px;
}

.hero__title {
  margin-bottom: 24px;
  font-size: 34px;
}

.hero__cost {
  display: block;
  margin-bottom: 32px;
  font-size: 20px;
  font-family: 'San Francisco Light';
}

.hero__btn {
  margin-bottom: 88px;
}

.benefits {
  padding: 70px 0;
}

.benefits__main-title {
  margin-bottom: 80px;
  font-size: 34px;
  text-align: center;
  font-family: 'San Francisco Medium';
}

.benefits__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.benefits__image {
  margin-bottom: 35px;
  border-radius: 34px;
}

.benefits__item {
  text-align: center;
}

.benefits__item:nth-child(-n+3) {
  margin-bottom: 60px;
}

.benefits__subtitle {
  margin-bottom: 20px;
  font-size: 20px;
  font-family: 'San Francisco Light';
}

.benefits__title {
  font-size: 22px;
  font-family: 'San Francisco Medium';
  max-width: 410px;
}

.order {
  padding-top: 70px;
}

.order__main-title {
  margin-bottom: 58px;
  font-size: 34px;
  text-align: center;
  font-family: 'San Francisco Medium';
}

.order__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.order__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.order__title {
  font-size: 34px;
  color: #C9C9C9;
  font-family: 'San Francisco Light';
}

label {
  font-size: 16px;
  font-family: 'San Francisco Light';
}
/*# sourceMappingURL=style.css.map */