@font-face {
  font-family: 'San Francisco';
  src: url("../fonts/SFUIText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco Medium';
  src: url("../fonts/SFUIText-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco Light';
  src: url("../fonts/SFUIText-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
}

a {
  color: inherit;
}

.button {
  padding: 18px 23px;
  border: 1px solid #ffffff;
  background-color: #0071E3;
  font-size: 20px;
  border-radius: 30px;
  color: #ffffff;
  font-family: 'San Francisco Light';
}

.button:hover {
  border: 1px solid #0071E3;
  background-color: transparent;
  color: #0071E3;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.header {
  padding: 30px 0px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__link {
  padding: 0 25px;
  font-family: 'San Francisco';
  font-size: 20px;
}

.navbar__link:last-child {
  margin-right: 55px;
}

.navbar__link:nth-child(2) {
  border-right: 1px solid #C9C9C9;
  border-left: 1px solid #C9C9C9;
}

.navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  padding: 100px 0;
}

.hero {
  padding-bottom: 70px;
  text-align: center;
  font-family: 'San Francisco Medium';
}

.hero__subtitle {
  margin-bottom: 24px;
  font-size: 20px;
}

.hero__title {
  margin-bottom: 24px;
  font-size: 34px;
}

.hero__cost {
  display: block;
  margin-bottom: 32px;
  font-size: 20px;
  font-family: 'San Francisco Light';
}

.hero__btn {
  margin-bottom: 88px;
}

.benefits {
  padding: 70px 0;
}

.benefits__main-title {
  margin-bottom: 80px;
  font-size: 34px;
  text-align: center;
  font-family: 'San Francisco Medium';
}

.benefits__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.benefits__image {
  margin-bottom: 35px;
  border-radius: 34px;
}

.benefits__item {
  text-align: center;
}

.benefits__item:nth-child(-n+3) {
  margin-bottom: 60px;
}

.benefits__subtitle {
  margin-bottom: 20px;
  font-size: 20px;
  font-family: 'San Francisco Light';
}

.benefits__title {
  font-size: 22px;
  font-family: 'San Francisco Medium';
  max-width: 410px;
}

.order {
  padding-top: 70px;
}

.order__main-title {
  margin-bottom: 58px;
  font-size: 34px;
  text-align: center;
  font-family: 'San Francisco Medium';
}

.order__wrapper {
  margin-bottom: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.order__item {
  padding: 70px 80px 100px 80px;
  border: 1px solid #C9C9C9;
  border-radius: 34px;
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

.order__item:nth-child(odd) {
  margin-right: 30px;
}

.order__item:nth-child(-n+2) {
  margin-bottom: 32px;
}

.order__item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.order__title {
  font-size: 34px;
  color: #C9C9C9;
  text-align: center;
  font-family: 'San Francisco Light';
}

.order__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.order__input:not(:last-child) {
  margin-bottom: 50px;
}

label {
  margin-bottom: 16px;
  font-size: 16px;
  font-family: 'San Francisco Light';
}

.order__button {
  display: block;
  margin: auto;
}

input {
  border-radius: 20px;
  padding: 30px 90px 30px 20px;
  -webkit-box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
  font-size: 28px;
  font-family: 'San Francisco';
}

select {
  width: 100%;
  border-radius: 20px;
  padding: 30px 90px 30px 20px;
  -webkit-box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
  font-size: 28px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  font-family: 'San Francisco Light';
}

select::-ms-expand {
  display: none;
}

.select__wrapper {
  position: relative;
}

.select__wrapper::after {
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  right: 60px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 17px 15px 0 15px;
  border-color: #000000 transparent transparent transparent;
}

.label__wrap {
  position: relative;
  margin-bottom: 26px;
}

.label__wrap input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.label__wrap label {
  font-size: 20px;
  padding-left: 40px;
  font-family: 'San Francisco';
}

.label__wrap label:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 30px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.label__wrap label:after {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  background: url("../../img/main/form/check.svg") no-repeat;
  background-size: 40px 40px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.label__wrap input:checked + .label__wrap label:before {
  background-color: green;
}
/*# sourceMappingURL=style.css.map */